{
  "openapi": "3.0.0",
  "info": {
    "title": "COVID Tracking Project API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://covidtracking.com"
    }
  ],
  "paths": {
    "/api/v1/internal/press.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "summary": "A list of news articles the COVID Tracking Project has appeared in.",
        "description": "A list of news articles the COVID Tracking Project has appeared in.",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Press"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Press"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/screenshots.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "summary": "State website screenshots.",
        "description": "State website screenshots.",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/{state}/screenshots.{format}": {
      "get": {
        "tags": [
          "Internal endpoints"
        ],
        "summary": "Screenshot values for a single state",
        "description": "Single state website screenshots.",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/internal/volunteers.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "summary": "A list of volunteers who opted in to be listed on the website.",
        "description": "A list of volunteers who opted in to be listed on the website.",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Volunteers"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Volunteers"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/us/daily.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "summary": "Historic US values",
        "description": "All COVID data for the US.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/us/current.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "summary": "Current US values",
        "description": "The most recent COVID data for the US. The most recent data may not be from today.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/us/{date}.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "summary": "US historic values for a date",
        "description": "All COVID data for the US on a specific date.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "20200501"
            },
            "description": "Use the ISO-formatted date, without hyphens, to select just the data for a specific date."
          }
        ]
      }
    },
    "/api/v1/race/states-combined.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "summary": "Racial data on states who combine race and ethnicity",
        "description": "Racial data on states who combine race and ethnicity",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesCombined"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesCombined"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/race/states-separate.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "summary": "Racial data on states who separate race and ethnicity",
        "description": "Racial data on states who separate race and ethnicity",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesSeparate"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesSeparate"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/internal/race-homepage.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "summary": "Top-line data for the COVID Racial Data Tracker homepage",
        "description": "Top-line data for the COVID Racial Data Tracker homepage",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceHomepage"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceHomepage"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "State metadata",
        "description": "Basic information about states, including notes about our methodology and the websites we use to check for data.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/{state}/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Metadata about a specific state",
        "description": "Metadata about a specific state",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Historic values for all states",
        "description": "Lists all COVID data available for every state since tracking started.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Current values for all states",
        "description": "The most recent COVID data for every state. The current value may be different than today.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/{state}/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Current values for a single state",
        "description": "The most recent COVID data for a single state. The current value may be different than today. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/{state}/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Historic values for a single state",
        "description": "All COVID data for a single state. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/{state}/{date}.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Values for a single state on a specific date",
        "description": "All COVID values for a single state on a specific date. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "20200501"
            },
            "description": "Use the ISO-formatted date, without hyphens, to select just the data for a specific date."
          }
        ]
      }
    },
    "/api/v1/status.{format}": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "API status",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Press": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the article.",
            "nullable": false,
            "example": "News from the COVID Tracking Project"
          },
          "url": {
            "type": "string",
            "description": "URL of the press article.",
            "nullable": false,
            "example": ""
          },
          "addToCovidTrackingProjectWebsite": {
            "type": "boolean",
            "description": "Whether the article should be included on the website.",
            "nullable": true,
            "example": ""
          },
          "publication": {
            "type": "string",
            "description": "Name of the publication.",
            "nullable": false,
            "example": ""
          },
          "publishDate": {
            "type": "string",
            "description": "Date of publication.",
            "nullable": false,
            "example": ""
          }
        }
      },
      "Screenshots": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation.",
            "nullable": false,
            "example": "AK"
          },
          "url": {
            "type": "string",
            "description": "URL of screenshot on covidtracking.com.",
            "nullable": false,
            "example": ""
          },
          "dateChecked": {
            "type": "string",
            "nullable": false,
            "example": ""
          },
          "secondary": {
            "type": "boolean",
            "nullable": false,
            "example": ""
          },
          "tertiary": {
            "type": "boolean",
            "nullable": false,
            "example": ""
          },
          "date": {
            "type": "string",
            "nullable": false,
            "example": ""
          },
          "size": {
            "type": "number",
            "nullable": false,
            "example": ""
          }
        }
      },
      "Volunteers": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of volunteer.",
            "nullable": false,
            "example": "bell hooks"
          },
          "website": {
            "type": "string",
            "description": "URL of the volunteer's website.",
            "nullable": true,
            "example": ""
          }
        }
      },
      "Us": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "description": "Date for which the daily totals were collected.",
            "nullable": false,
            "example": 20200501
          },
          "states": {
            "type": "integer",
            "description": "Number of states included in the data for this day.",
            "nullable": false,
            "example": 50
          },
          "positive": {
            "type": "integer",
            "description": "Total number of people who have tested positive for COVID-19 so far.",
            "nullable": true,
            "example": 50
          },
          "negative": {
            "type": "integer",
            "description": "Total number of people who have tested negative for COVID-19 so far.",
            "nullable": true,
            "example": 50
          },
          "pending": {
            "type": "integer",
            "description": "Number of tests whose results have yet to be determined.",
            "nullable": true,
            "example": 50
          },
          "hospitalizedCurrently": {
            "type": "integer",
            "description": "Number of people in hospital for COVID-19 on this day.",
            "nullable": true,
            "example": 50
          },
          "hospitalizedCumulative": {
            "type": "integer",
            "description": "Total number of people who have gone to the hospital for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": 50
          },
          "inIcuCurrently": {
            "type": "integer",
            "description": "Total number of people in the ICU for COVID-19 on this day.",
            "nullable": true,
            "example": 50
          },
          "inIcuCumulative": {
            "type": "integer",
            "description": "Total number of people who have gone to the ICU for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": 50
          },
          "onVentilatorCurrently": {
            "type": "integer",
            "description": "Number of people using a ventilator for COVID-19 on this day.",
            "nullable": true,
            "example": 50
          },
          "onVentilatorCumulative": {
            "type": "integer",
            "description": "Total number of people who have used a ventilator for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": 50
          },
          "recovered": {
            "type": "integer",
            "description": "Total number of people who have recovered from COVID-19 so far.",
            "nullable": true,
            "example": 50
          },
          "dateChecked": {
            "type": "string",
            "description": "DateTime this data was entered into our database.",
            "nullable": true,
            "example": 50
          },
          "death": {
            "type": "integer",
            "description": "Total number of people who have died as a result of COVID-19 so far.",
            "nullable": true,
            "example": 50
          },
          "hospitalized": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "total": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "totalTestResults": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "posNeg": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "deathIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "hospitalizedIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "negativeIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "positiveIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "totalTestResultsIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": 50
          },
          "lastModified": {
            "type": "string",
            "description": "Deprecated",
            "nullable": false,
            "example": "2020-05-27T12:18:23.392Z"
          },
          "hash": {
            "type": "string",
            "description": "A hash for this record",
            "nullable": false,
            "example": 50
          }
        }
      },
      "RaceStatesCombined": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "nullable": false,
            "example": ""
          },
          "stateName": {
            "type": "string",
            "description": "State name",
            "nullable": false,
            "example": ""
          },
          "anyPosData": {
            "type": "boolean",
            "description": "The state reports any positive case data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "anyDeathData": {
            "type": "boolean",
            "description": "The state reports any death data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "unknownRaceEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRaceEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          }
        }
      },
      "RaceStatesSeparate": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "nullable": false,
            "example": ""
          },
          "stateName": {
            "type": "string",
            "description": "State name",
            "nullable": false,
            "example": ""
          },
          "anyPosData": {
            "type": "boolean",
            "description": "The state reports any positive case data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "posRaceData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "posEthData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "anyDeathData": {
            "type": "boolean",
            "description": "The state reports any death data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "deathRaceData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "deathEthData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRacePos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRaceDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRacePos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          }
        }
      },
      "RaceHomepage": {
        "type": "object",
        "properties": {
          "blackLivesLost": {
            "type": "number",
            "description": "Number of black lives lost to the coronavirus.",
            "nullable": false,
            "example": ""
          },
          "blackPercentOfPopulation": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "blackPercentOfDeath": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "blackLivesExpectedMultiplier": {
            "type": "number",
            "description": "Expected lives lost based on population.",
            "nullable": false,
            "example": ""
          },
          "statesReportingCases": {
            "type": "number",
            "description": "The number of states reporting cases broken down by race or ethnicity.",
            "nullable": true,
            "example": ""
          },
          "statesReportingDeaths": {
            "type": "number",
            "description": "The number of states reporting deaths broken down by race or ethnicity.",
            "nullable": false,
            "example": ""
          }
        }
      },
      "StatesInfo": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "The state postal code",
            "nullable": false,
            "example": "CA"
          },
          "name": {
            "type": "string",
            "description": "The name of the state",
            "nullable": false,
            "example": "California"
          },
          "fips": {
            "type": "string",
            "description": "The census FIPS code",
            "nullable": false,
            "example": "09"
          },
          "notes": {
            "type": "string",
            "description": "Notes about the state",
            "nullable": true,
            "example": "This state reports data correctly."
          },
          "covid19Site": {
            "type": "string",
            "description": "URL to the state's COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covid19SiteSecondary": {
            "type": "string",
            "description": "URL to the state's secondary COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covid19SiteTertiary": {
            "type": "string",
            "description": "URL to the state's tertiary COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "twitter": {
            "type": "string",
            "description": "The state's COVID-related Twitter handle",
            "nullable": true,
            "example": "@Alaska_DHSS"
          },
          "covid19SiteOld": {
            "type": "string",
            "description": "URL to the state's old COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "pui": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "pum": {
            "type": "boolean",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          }
        }
      },
      "States": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "description": "Date for which the daily totals were collected.",
            "nullable": false,
            "example": 20200501,
            "x-sheetColumn": "Date"
          },
          "state": {
            "type": "string",
            "description": "Two-letter code for the state.",
            "nullable": false,
            "example": "",
            "x-sheetColumn": "State"
          },
          "fips": {
            "type": "string",
            "description": "Census FIPS code for the state.",
            "nullable": true,
            "example": "",
            "x-internalNote": "This is computed from [this static list of FIPS codes](https://github.com/COVID19Tracking/covid-public-api-build/blob/master/config/state-names.js)"
          },
          "positive": {
            "type": "integer",
            "description": "Total number of people who have tested positive for COVID-19 so far.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Positive",
            "x-websiteLabel": "Cases"
          },
          "positiveIncrease": {
            "type": "integer",
            "description": "Daily Difference in positive",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Positive",
            "x-internalNote": "This field is computed by subtracting the proir date's value for positive from the current date"
          },
          "negative": {
            "type": "integer",
            "description": "Total number of people who have tested negative for COVID-19 so far.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Negative",
            "x-websiteLabel": "Test: Negative or \"negative test results\""
          },
          "negativeIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Negative",
            "x-internalNote": "This field is computed by subtracting the proir date's value for negative from the current date"
          },
          "pending": {
            "type": "integer",
            "description": "Number of tests whose results have yet to be determined.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Pending"
          },
          "total": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\", \"Negative\" & \"Pending\"",
            "x-deprecated": true,
            "x-internalNote": "This is a deprecated that adds up Positive, Negative, and Pending spreadsheet fields."
          },
          "totalTestResults": {
            "type": "integer",
            "description": "Total Test Results Provided by the State",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\" & \"Negative\"",
            "x-internalNote": "Adds up Positive and Negative spreadsheet fields."
          },
          "totalTestResultsIncrease": {
            "type": "integer",
            "description": "Daily Difference in totalTestResults",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\" & \"Negative\"",
            "x-internalNote": "This field is computed by subtracting the proir date's value for `totalTestResults` from the current date"
          },
          "posNeg": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\" & \"Negative\"",
            "x-deprecated": true,
            "x-internalNote": "Adds up Positive and Negative spreadsheet fields."
          },
          "hospitalizedCurrently": {
            "type": "integer",
            "description": "Number of people in hospital for COVID-19 on this day.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Hospitalized – Currently"
          },
          "hospitalizedCumulative": {
            "type": "integer",
            "description": "Total number of people who have gone to the hospital for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Hospitalized – Cumulative"
          },
          "inIcuCurrently": {
            "type": "integer",
            "description": "Total number of people in the ICU for COVID-19 on this day.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "In ICU – Currently"
          },
          "inIcuCumulative": {
            "type": "integer",
            "description": "Total number of people who have gone to the ICU for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "In ICU – Cumulative"
          },
          "onVentilatorCurrently": {
            "type": "integer",
            "description": "Number of people using a ventilator for COVID-19 on this day.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "On Ventilator – Currently"
          },
          "onVentilatorCumulative": {
            "type": "integer",
            "description": "Total number of people who have used a ventilator for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "On Ventilator – Cumulative"
          },
          "recovered": {
            "type": "integer",
            "description": "Total number of people who have recovered from COVID-19 so far.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Recovered"
          },
          "dataQualityGrade": {
            "type": "string",
            "description": "Grade assigned to the state based on the quality of their data reporting.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Data Quality Grade"
          },
          "lastUpdateEt": {
            "type": "string",
            "description": "Last time the day's data was updated.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Last Update ET"
          },
          "dateModified": {
            "type": "string",
            "description": "Deprecated, use lastUpdateEt instead",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-sheetColumn": "Last Update ET",
            "x-internalNote": "This is a re-formatted value of \"Last Update ET\" forced into UTC format for historic reasons."
          },
          "checkTimeEt": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-sheetColumn": "Last Update ET",
            "x-internalNote": "This is a re-formatted value of \"Last Update ET\" forced into LL/dd HH:mm America/New_York format for historic reasons."
          },
          "death": {
            "type": "integer",
            "description": "Total number of people who have died as a result of COVID-19 so far.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Deaths"
          },
          "deathIncrease": {
            "type": "integer",
            "description": "Daily difference in death",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Deaths",
            "x-internalNote": "This field is computed by subtracting the proir date's value for `death` from the current date"
          },
          "hospitalized": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "Old label for `hospitalizedCumulative`."
          },
          "hospitalizedIncrease": {
            "type": "integer",
            "description": "Daily difference in hospitalized",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "An increase compuation for the old label for hospitalized."
          },
          "dateChecked": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "This is an old label for \"Last Update ET\".",
            "x-sheetColumn": "Last Update ET"
          },
          "hash": {
            "type": "string",
            "description": "Deprecated - A hash of the current record.",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "A hash we provide for consumers so they can invalidate their cache if the values of this row has changed."
          },
          "commercialScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "negativeRegularScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "negativeScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "positiveScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "score": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "grade": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "totalTestsViral": {
            "type": "integer",
            "description": "Total number of PCR tests performed.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Total Tests (PCR)"
          },
          "positiveTestsViral": {
            "type": "integer",
            "description": "Total number of positive PCR tests.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Positive Tests (PCR)"
          },
          "negativeTestsViral": {
            "type": "integer",
            "description": "Total number of negative PCR tests.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Negative Tests (PCR)"
          },
          "positiveCasesViral": {
            "type": "integer",
            "description": "Total number of positive cases measured with PCR tests.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Positive Cases (PCR)"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "buildTime": {
            "type": "string",
            "description": "The last time the API was built.",
            "nullable": false,
            "example": "2020-05-01T19:00:00Z"
          },
          "runNumber": {
            "type": "integer",
            "description": "The run ID. Set to zero if it is a non-production run.",
            "nullable": false,
            "example": true
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production build of the API.",
            "nullable": false,
            "example": true
          }
        }
      }
    }
  }
}
