{
  "openapi": "3.0.0",
  "info": {
    "title": "COVID Tracking Project API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://covidtracking.com"
    }
  ],
  "paths": {
    "/api/v1/internal/press.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "description": "A list of news articles the COVID Tracking Project has appeared in.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Press"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Press"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/screenshots.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "description": "State website screenshots.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/internal/volunteers.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "description": "A list of volunteers who opted in to be listed on the website.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Volunteers"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Volunteers"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/internal/cdc-tests.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "description": "Data on the CDC's public testing initiatives.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CDCTests"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CDCTests"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/us/daily.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "description": "US historic values.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/us/current.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "description": "US current values.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/us/{date}.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "description": "US current values.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "20200501"
            },
            "description": "Use the ISO-formatted date, without hyphens, to select just the data for a specific date."
          }
        ]
      }
    },
    "/api/v1/race/states-combined.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "description": "Racial data on states who combine race and ethnicity",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesCombined"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesCombined"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/race/states-separate.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "description": "Racial data on states who separate race and ethnicity",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesSeparate"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesSeparate"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/internal/race-homepage.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "description": "Top-line data for the COVID Racial Data Tracker homepage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceHomepage"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceHomepage"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "description": "States information.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/{state}/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "description": "The metadata about the specified state",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "description": "States historical data.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "description": "State current values.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/{state}/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "description": "State current values.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/{state}/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "description": "State daily values.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/{state}/{date}.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "description": "State date values",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the two-letter state code to select the current value for a single state."
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "20200501"
            },
            "description": "Use the ISO-formatted date, without hyphens, to select just the data for a specific date."
          }
        ]
      }
    },
    "/api/v1/status.{format}": {
      "get": {
        "tags": [
          "Status"
        ],
        "description": "The current status of the API.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Press": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the article.",
            "nullable": false,
            "example": "News from the COVID Tracking Project"
          },
          "url": {
            "type": "string",
            "description": "URL of the press article.",
            "nullable": false,
            "example": ""
          },
          "addToCovidTrackingProjectWebsite": {
            "type": "boolean",
            "description": "Whether the article should be included on the website.",
            "nullable": true,
            "example": ""
          },
          "publication": {
            "type": "string",
            "description": "Name of the publication.",
            "nullable": false,
            "example": ""
          },
          "publishDate": {
            "type": "string",
            "description": "Date of publication.",
            "nullable": false,
            "example": ""
          }
        }
      },
      "Screenshots": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation.",
            "nullable": false,
            "example": "AK"
          },
          "url": {
            "type": "string",
            "description": "URL of screenshot on covidtracking.com.",
            "nullable": false,
            "example": ""
          },
          "dateChecked": {
            "type": "string",
            "nullable": false,
            "example": ""
          },
          "secondary": {
            "type": "boolean",
            "nullable": false,
            "example": ""
          },
          "date": {
            "type": "string",
            "nullable": false,
            "example": ""
          },
          "size": {
            "type": "number",
            "nullable": false,
            "example": ""
          }
        }
      },
      "Volunteers": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of volunteer.",
            "nullable": false,
            "example": "bell hooks"
          },
          "website": {
            "type": "string",
            "description": "URL of the volunteer's website.",
            "nullable": true,
            "example": ""
          }
        }
      },
      "CDCTests": {
        "type": "object",
        "properties": {
          "dateCollected": {
            "type": "string",
            "description": "Date.",
            "nullable": false,
            "example": "2020-04-05"
          },
          "cdcLabs": {
            "type": "number",
            "description": "Number of tests from CDC labs.",
            "nullable": false,
            "example": 10
          },
          "usPubHealthLabs": {
            "type": "number",
            "description": "Number of tests from public health labs.",
            "nullable": false,
            "example": 10
          },
          "dailyTotal": {
            "type": "number",
            "description": "Number of tests total tests reported by the CDC.",
            "nullable": false,
            "example": 10
          }
        }
      },
      "Us": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "description": "",
            "nullable": false,
            "example": 20200501
          },
          "states": {
            "type": "integer",
            "description": "",
            "nullable": false,
            "example": 50
          },
          "positive": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "negative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "pending": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "hospitalizedCurrently": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "hospitalizedCumulative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "inIcuCurrently": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "inIcuCumulative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "onVentilatorCurrently": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "onVentilatorCumulative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "recovered": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "dateChecked": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "death": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "hospitalized": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "total": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "totalTestResults": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "posNeg": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "deathIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "hospitalizedIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "negativeIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "positiveIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "totalTestResultsIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": 50
          },
          "lastModified": {
            "type": "string",
            "description": "",
            "nullable": false,
            "example": "2020-05-27T12:18:23.392Z"
          },
          "hash": {
            "type": "string",
            "description": "A hash for this record",
            "nullable": false,
            "example": 50
          }
        }
      },
      "RaceStatesCombined": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "nullable": false,
            "example": ""
          },
          "stateName": {
            "type": "string",
            "description": "State name",
            "nullable": false,
            "example": ""
          },
          "anyPosData": {
            "type": "boolean",
            "description": "The state reports any positive case data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "anyDeathData": {
            "type": "boolean",
            "description": "The state reports any death data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "unknownRaceEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRaceEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          }
        }
      },
      "RaceStatesSeparate": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "nullable": false,
            "example": ""
          },
          "stateName": {
            "type": "string",
            "description": "State name",
            "nullable": false,
            "example": ""
          },
          "anyPosData": {
            "type": "boolean",
            "description": "The state reports any positive case data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "posRaceData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "posEthData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "anyDeathData": {
            "type": "boolean",
            "description": "The state reports any death data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "deathRaceData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "deathEthData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRacePos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRaceDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRacePos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicANHPIPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicANHPIDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathNotes": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          }
        }
      },
      "RaceHomepage": {
        "type": "object",
        "properties": {
          "blackLivesLost": {
            "type": "number",
            "description": "Number of black lives lost to the coronavirus.",
            "nullable": false,
            "example": ""
          },
          "blackPercentOfPopulation": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "blackPercentOfDeath": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "blackLivesExpectedMultiplier": {
            "type": "number",
            "description": "Expected lives lost based on population.",
            "nullable": false,
            "example": ""
          },
          "statesReportingCases": {
            "type": "number",
            "description": "The number of states reporting cases broken down by race or ethnicity.",
            "nullable": true,
            "example": ""
          },
          "statesReportingDeaths": {
            "type": "number",
            "description": "The number of states reporting deaths broken down by race or ethnicity.",
            "nullable": false,
            "example": ""
          }
        }
      },
      "StatesInfo": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "The state postal code",
            "nullable": false,
            "example": "CA"
          },
          "name": {
            "type": "string",
            "description": "The name of the state",
            "nullable": false,
            "example": "California"
          },
          "fips": {
            "type": "string",
            "description": "The census FIPS code",
            "nullable": false,
            "example": "09"
          },
          "notes": {
            "type": "string",
            "description": "Notes about the state",
            "nullable": true,
            "example": "This state reports data correctly."
          },
          "covid19Site": {
            "type": "string",
            "description": "URL to the state's COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covid19SiteSecondary": {
            "type": "string",
            "description": "URL to the state's secondary COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "twitter": {
            "type": "string",
            "description": "The state's COVID-related Twitter handle",
            "nullable": true,
            "example": "@Alaska_DHSS"
          },
          "covid19SiteOld": {
            "type": "string",
            "description": "URL to the state's old COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "pui": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "pum": {
            "type": "boolean",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          }
        }
      },
      "States": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "description": "",
            "nullable": false,
            "example": 20200501
          },
          "state": {
            "type": "string",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "fips": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "positive": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "positiveIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "negative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "negativeIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "pending": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "total": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "totalTestResults": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "totalTestResultsIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "posNeg": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "hospitalizedCurrently": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "hospitalizedCumulative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "inIcuCurrently": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "inIcuCumulative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "onVentilatorCurrently": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "onVentilatorCumulative": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "recovered": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "dataQualityGrade": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "lastUpdateEt": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "dateModified": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "checkTimeEt": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "death": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "deathIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "hospitalized": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "hospitalizedIncrease": {
            "type": "integer",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "dateChecked": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "hash": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "commercialScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "negativeRegularScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "negativeScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "positiveScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "score": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "grade": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "buildTime": {
            "type": "string",
            "description": "The last time the API was built.",
            "nullable": false,
            "example": "2020-05-01T19:00:00Z"
          },
          "runNumber": {
            "type": "integer",
            "description": "The run ID. Set to zero if it is a non-production run.",
            "nullable": false,
            "example": true
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production build of the API.",
            "nullable": false,
            "example": true
          }
        }
      }
    }
  }
}
