{
  "openapi": "3.0.0",
  "info": {
    "title": "COVID Tracking Project API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.covidtracking.com"
    }
  ],
  "paths": {
    "/v1/internal/press.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "summary": "A list of news articles the COVID Tracking Project has appeared in.",
        "description": "A list of news articles the COVID Tracking Project has appeared in.",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Press"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Press"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/states/screenshots.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "summary": "State website screenshots.",
        "description": "State website screenshots.",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/states/{state}/screenshots.{format}": {
      "get": {
        "tags": [
          "Internal Endpoints"
        ],
        "summary": "Screenshot values for a single state",
        "description": "Single state website screenshots.",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Screenshots"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/v1/us/daily.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "summary": "Historic US values",
        "description": "All COVID data for the US.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/us/current.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "summary": "Current US values",
        "description": "The most recent COVID data for the US. The most recent data may not be from today.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/us/{date}.{format}": {
      "get": {
        "tags": [
          "US Current and Historical Data"
        ],
        "summary": "US historic values for a date",
        "description": "All COVID data for the US on a specific date.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Us"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "20200501"
            },
            "description": "Use the ISO-formatted date, without hyphens, to select just the data for a specific date."
          }
        ]
      }
    },
    "/v1/race/states-combined.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "summary": "Racial data on states who combine race and ethnicity",
        "description": "Racial data on states who combine race and ethnicity",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesCombined"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesCombined"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/race/states-separate.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "summary": "Racial data on states who separate race and ethnicity",
        "description": "Racial data on states who separate race and ethnicity",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesSeparate"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceStatesSeparate"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/internal/race-homepage.{format}": {
      "get": {
        "tags": [
          "Racial data tracker"
        ],
        "summary": "Top-line data for the COVID Racial Data Tracker homepage",
        "description": "Top-line data for the COVID Racial Data Tracker homepage",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceHomepage"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaceHomepage"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/states/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "State metadata",
        "description": "Basic information about states, including notes about our methodology and the websites we use to check for data.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/states/{state}/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Metadata about a specific state",
        "description": "Metadata about a specific state",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/v1/states/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Historic values for all states",
        "description": "Lists all COVID data available for every state since tracking started.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/states/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Current values for all states",
        "description": "The most recent COVID data for every state. The current value may be different than today.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/states/{state}/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Current values for a single state",
        "description": "The most recent COVID data for a single state. The current value may be different than today. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Two-letter abbreviation for the state or territory."
          }
        ]
      }
    },
    "/v1/states/{state}/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Historic values for a single state",
        "description": "All COVID data for a single state. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Two-letter abbreviation for the state or territory."
          }
        ]
      }
    },
    "/v1/states/{state}/{date}.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Values for a single state on a specific date",
        "description": "All COVID values for a single state on a specific date. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Two-letter abbreviation for the state or territory."
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "20200501"
            },
            "description": "Use the ISO-formatted date, without hyphens, to select just the data for a specific date."
          }
        ]
      }
    },
    "/v1/status.{format}": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "API status",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Status"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Press": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the article.",
            "nullable": false,
            "example": "News from the COVID Tracking Project"
          },
          "url": {
            "type": "string",
            "description": "URL of the press article.",
            "nullable": false,
            "example": ""
          },
          "addToCovidTrackingProjectWebsite": {
            "type": "boolean",
            "description": "Whether the article should be included on the website.",
            "nullable": true,
            "example": ""
          },
          "publication": {
            "type": "string",
            "description": "Name of the publication.",
            "nullable": false,
            "example": ""
          },
          "publishDate": {
            "type": "string",
            "description": "Date of publication.",
            "nullable": false,
            "example": ""
          }
        }
      },
      "Screenshots": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation.",
            "nullable": false,
            "example": "AK"
          },
          "url": {
            "type": "string",
            "description": "URL of screenshot on covidtracking.com.",
            "nullable": false,
            "example": ""
          },
          "dateChecked": {
            "type": "string",
            "nullable": false,
            "example": ""
          },
          "secondary": {
            "type": "boolean",
            "nullable": false,
            "example": ""
          },
          "tertiary": {
            "type": "boolean",
            "nullable": false,
            "example": ""
          },
          "date": {
            "type": "string",
            "nullable": false,
            "example": ""
          },
          "size": {
            "type": "number",
            "nullable": false,
            "example": ""
          }
        }
      },
      "Us": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "description": "Date on which data was collected by The COVID Tracking Project.",
            "nullable": false,
            "example": 20200501
          },
          "states": {
            "type": "integer",
            "description": "Number of states and territories included in the US dataset for this day.",
            "nullable": false,
            "example": 50
          },
          "positive": {
            "type": "integer",
            "description": "Individuals with confirmed or probable COVID-19 per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": 50
          },
          "negative": {
            "type": "integer",
            "description": "Individuals with a completed viral test that returned a negative result. For states / territories that do not report this number directly, we compute it using one of several methods, depending on which data points the state provides.",
            "nullable": true,
            "example": 50
          },
          "pending": {
            "type": "integer",
            "description": "Tests whose results have not yet been reported.",
            "nullable": true,
            "example": 50
          },
          "hospitalizedCurrently": {
            "type": "integer",
            "description": "Individuals who are currently hospitalized with COVID-19. Definitions vary by state / territory. Where possible, we report hospitalizations with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": 50
          },
          "hospitalizedCumulative": {
            "type": "integer",
            "description": "Total number of individuals who have ever been hospitalized with COVID-19.  Definitions vary by state / territory. Where possible, we report hospitalizations with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": 50
          },
          "inIcuCurrently": {
            "type": "integer",
            "description": "Individuals who are currently hospitalized in the Intensive Care Unit with COVID-19. Definitions vary by state / territory. Where possible, we report patients in the ICU with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": 50
          },
          "inIcuCumulative": {
            "type": "integer",
            "description": "Total number of individuals who have ever been hospitalized in the Intensive Care Unit with COVID-19. Definitions vary by state / territory. Where possible, we report patients in the ICU with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": 50
          },
          "onVentilatorCurrently": {
            "type": "integer",
            "description": "Individuals who are currently hospitalized under advanced ventilation with COVID-19. Definitions vary by state / territory. Where possible, we report patients on ventilation with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": 50
          },
          "onVentilatorCumulative": {
            "type": "integer",
            "description": "Total number of individuals who have ever been hospitalized under advanced ventilation with COVID-19. Definitions vary by state / territory. Where possible, we report patients on ventilation with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": 50
          },
          "recovered": {
            "type": "integer",
            "description": "Individuals who have recovered from COVID-19. Definitions vary by state / territory.",
            "nullable": true,
            "example": 50
          },
          "dateChecked": {
            "type": "string",
            "description": "Deprecated. This is an old label for *lastUpdateEt*.",
            "nullable": true,
            "example": 50
          },
          "death": {
            "type": "integer",
            "description": "Total fatalities with confirmed OR probable COVID-19 case diagnosis (per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/)). In states where the information is available, it only tracks fatalities with confirmed OR probable COVID-19 case diagnosis where COVID-19 is an underlying cause of death according to the death certificate based on [WHO guidelines](https://www.who.int/classifications/icd/Guidelines_Cause_of_Death_COVID-19.pdf?ua=1).",
            "nullable": true,
            "example": 50
          },
          "hospitalized": {
            "type": "integer",
            "description": "Deprecated. Old label for hospitalizedCumulative.",
            "nullable": true,
            "example": 50
          },
          "total": {
            "type": "integer",
            "description": "Deprecated. Computed by adding *positive*, *negative*, and *pending* values.",
            "nullable": true,
            "example": 50
          },
          "totalTestResults": {
            "type": "integer",
            "description": "Where possible, we report total tests in units of people tested, rather than units of specimens tested. Currently computed by adding positive and negative values because some states do not report totals and to work around different reporting cadences for cases and tests.",
            "nullable": true,
            "example": 50
          },
          "posNeg": {
            "type": "integer",
            "description": "Deprecated. Computed by adding *positive* and *negative* values.",
            "nullable": true,
            "example": 50
          },
          "deathIncrease": {
            "type": "integer",
            "description": "Increase in *death* computed by subtracting the value of *death* for the previous day from the value of *death* for the current day.",
            "nullable": true,
            "example": 50
          },
          "hospitalizedIncrease": {
            "type": "integer",
            "description": "Increase in *hospitalizedCumulative* computed by subtracting the value of *hospitalizedCumulative* for the previous day from the value of *hospitalizedCumulative* for the current day.",
            "nullable": true,
            "example": 50
          },
          "negativeIncrease": {
            "type": "integer",
            "description": "Increase in *negative* computed by subtracting the value of *negative* for the previous day from the value for *negative* from the current day.",
            "nullable": true,
            "example": 50
          },
          "positiveIncrease": {
            "type": "integer",
            "description": "Increase in *positive* computed by subtracting the value of *positive* from the previous day from the value of *positive* for the current day.",
            "nullable": true,
            "example": 50
          },
          "totalTestResultsIncrease": {
            "type": "integer",
            "description": "Deprecated. Increase in *totalTestResults* computed by subtracting the value of *totalTestResults* for the previous day from the value of *totalTestResults* for the current day.",
            "nullable": true,
            "example": 50
          },
          "lastModified": {
            "type": "string",
            "description": "Deprecated. Old label for lastUpdateET.",
            "nullable": false,
            "example": "2020-05-27T12:18:23.392Z"
          },
          "hash": {
            "type": "string",
            "description": "A hash for this record",
            "nullable": false,
            "example": 50
          }
        }
      },
      "RaceStatesCombined": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "nullable": false,
            "example": ""
          },
          "stateName": {
            "type": "string",
            "description": "State name",
            "nullable": false,
            "example": ""
          },
          "anyPosData": {
            "type": "boolean",
            "description": "The state reports any positive case data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "anyDeathData": {
            "type": "boolean",
            "description": "The state reports any death data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "unknownRaceEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRaceEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPINotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          }
        }
      },
      "RaceStatesSeparate": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "nullable": false,
            "example": ""
          },
          "stateName": {
            "type": "string",
            "description": "State name",
            "nullable": false,
            "example": ""
          },
          "anyPosData": {
            "type": "boolean",
            "description": "The state reports any positive case data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "posRaceData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "posEthData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "anyDeathData": {
            "type": "boolean",
            "description": "The state reports any death data by race/ethnicity.",
            "nullable": true,
            "example": ""
          },
          "deathRaceData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "deathEthData": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRacePos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownRaceDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRacePos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownRaceDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "unknownEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownEthPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "knownEthDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "blackSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "asianSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "aianSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nhpiSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "twoSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whitePosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "whiteSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "otherSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "latinXSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPositives": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeaths": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctPop": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctPos": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPctDeath": {
            "type": "number",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathDispFlag": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathCaution": {
            "type": "boolean",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicANHPIPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicANHPIDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicPosNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicDeathNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          },
          "nonhispanicSpecialCaseNotes": {
            "type": "string",
            "description": "",
            "nullable": true,
            "example": ""
          }
        }
      },
      "RaceHomepage": {
        "type": "object",
        "properties": {
          "blackLivesLost": {
            "type": "number",
            "description": "Number of black lives lost to the coronavirus.",
            "nullable": false,
            "example": ""
          },
          "blackPercentOfPopulation": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "blackPercentOfDeath": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "blackLivesExpectedMultiplier": {
            "type": "number",
            "description": "Expected lives lost based on population.",
            "nullable": false,
            "example": ""
          },
          "statesReportingCases": {
            "type": "number",
            "description": "The number of states reporting cases broken down by race or ethnicity.",
            "nullable": true,
            "example": ""
          },
          "statesReportingDeaths": {
            "type": "number",
            "description": "The number of states reporting deaths broken down by race or ethnicity.",
            "nullable": false,
            "example": ""
          },
          "blackMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "aianMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "asianMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "nhpiMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "twoMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "whiteMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "otherMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "latinXMortalityRate": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          },
          "blackwhiteRateRatio": {
            "type": "number",
            "description": "",
            "nullable": false,
            "example": ""
          }
        }
      },
      "StatesInfo": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "The state postal code",
            "nullable": false,
            "example": "CA"
          },
          "name": {
            "type": "string",
            "description": "The name of the state",
            "nullable": false,
            "example": "California"
          },
          "fips": {
            "type": "string",
            "description": "The census FIPS code",
            "nullable": false,
            "example": "09"
          },
          "notes": {
            "type": "string",
            "description": "Notes about the state",
            "nullable": true,
            "example": "This state reports data correctly."
          },
          "covid19Site": {
            "type": "string",
            "description": "URL to the state's COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covid19SiteSecondary": {
            "type": "string",
            "description": "URL to the state's secondary COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covid19SiteTertiary": {
            "type": "string",
            "description": "URL to the state's tertiary COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "twitter": {
            "type": "string",
            "description": "The state's COVID-related Twitter handle",
            "nullable": true,
            "example": "@Alaska_DHSS"
          },
          "covid19SiteOld": {
            "type": "string",
            "description": "URL to the state's old COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "pui": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "pum": {
            "type": "boolean",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          }
        }
      },
      "States": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "description": "Date on which data was collected by The COVID Tracking Project.",
            "nullable": false,
            "example": 20200501,
            "x-sheetColumn": "Date"
          },
          "state": {
            "type": "string",
            "description": "Two-letter abbreviation for the state or territory.",
            "nullable": false,
            "example": "",
            "x-sheetColumn": "State"
          },
          "fips": {
            "type": "string",
            "description": "Federal Information Processing Standards (FIPS) code for the state or territory.",
            "nullable": true,
            "example": "",
            "x-internalNote": "This is computed from [this static list of FIPS codes](https://github.com/COVID19Tracking/covid-public-api-build/blob/master/config/state-names.js)"
          },
          "positive": {
            "type": "integer",
            "description": "Individuals with confirmed or probable COVID-19 per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Positive",
            "x-websiteLabel": "Cases"
          },
          "positiveIncrease": {
            "type": "integer",
            "description": "Increase in *positive* computed by subtracting the value of *positive* from the previous day from the value of *positive* for the current day.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Positive",
            "x-internalNote": "This field is computed by subtracting the prior date's value for positive from the current date"
          },
          "negative": {
            "type": "integer",
            "description": "Individuals with a completed viral test that returned a negative result. For states / territories that do not report this number directly, we compute it using one of several methods, depending on which data points the state provides.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Negative",
            "x-websiteLabel": "Test: Negative or \"negative test results\""
          },
          "negativeIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Negative",
            "x-internalNote": "This field is computed by subtracting the prior date's value for negative from the current date"
          },
          "pending": {
            "type": "integer",
            "description": "Tests whose results have not yet been reported.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Pending"
          },
          "total": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\", \"Negative\" & \"Pending\"",
            "x-deprecated": true,
            "x-internalNote": "This is a deprecated field that adds up Positive, Negative, and Pending spreadsheet fields."
          },
          "totalTestResults": {
            "type": "integer",
            "description": "Where possible, we report total tests in units of people tested, rather than units of specimens tested. Currently computed by adding _positive_ and _negative_ values because some states do not report totals and to work around different reporting cadences for cases and tests. ",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\" & \"Negative\"",
            "x-internalNote": "Adds up Positive and Negative spreadsheet fields."
          },
          "totalTestResultsIncrease": {
            "type": "integer",
            "description": "Daily Difference in totalTestResults",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\" & \"Negative\"",
            "x-internalNote": "Increase in *totalTestResults* computed by subtracting the value of *totalTestResults* for the previous day from the value of *totalTestResults* for the current day."
          },
          "posNeg": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "\"Positive\" & \"Negative\"",
            "x-deprecated": true,
            "x-internalNote": "Adds up Positive and Negative spreadsheet fields."
          },
          "hospitalizedCurrently": {
            "type": "integer",
            "description": "Individuals who are currently hospitalized with COVID-19. Definitions vary by state / territory. Where possible, we report hospitalizations with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Hospitalized – Currently"
          },
          "hospitalizedCumulative": {
            "type": "integer",
            "description": "Total number of individuals who have ever been hospitalized with COVID-19.  Definitions vary by state / territory. Where possible, we report hospitalizations with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Hospitalized – Cumulative"
          },
          "inIcuCurrently": {
            "type": "integer",
            "description": "Individuals who are currently hospitalized in the Intensive Care Unit with COVID-19. Definitions vary by state / territory. Where possible, we report patients in the ICU with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "In ICU – Currently"
          },
          "inIcuCumulative": {
            "type": "integer",
            "description": "Total number of individuals who have ever been hospitalized in the Intensive Care Unit with COVID-19. Definitions vary by state / territory. Where possible, we report patients in the ICU with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "In ICU – Cumulative"
          },
          "onVentilatorCurrently": {
            "type": "integer",
            "description": "Individuals who are currently hospitalized under advanced ventilation with COVID-19. Definitions vary by state / territory. Where possible, we report patients on ventilation with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "On Ventilator – Currently"
          },
          "onVentilatorCumulative": {
            "type": "integer",
            "description": "Total number of individuals who have ever been hospitalized under advanced ventilation with COVID-19. Definitions vary by state / territory. Where possible, we report patients on ventilation with confirmed or probable COVID-19 cases per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "On Ventilator – Cumulative"
          },
          "recovered": {
            "type": "integer",
            "description": "Individuals who have recovered from COVID-19. Definitions vary by state / territory.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Recovered"
          },
          "dataQualityGrade": {
            "type": "string",
            "description": "The COVID Tracking Project grade of the completeness of the data reporting by a  state.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Data Quality Grade"
          },
          "lastUpdateEt": {
            "type": "string",
            "description": "Date and time in Eastern time the state or territory last updated the data.",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Last Update ET"
          },
          "dateModified": {
            "type": "string",
            "description": "Deprecated, use lastUpdateEt instead",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-sheetColumn": "Last Update ET",
            "x-internalNote": "This is a re-formatted value of \"Last Update ET\" forced into UTC format for historic reasons."
          },
          "checkTimeEt": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-sheetColumn": "Last Update ET",
            "x-internalNote": "This is a re-formatted value of \"Last Update ET\" forced into LL/dd HH:mm America/New_York format for historic reasons."
          },
          "death": {
            "type": "integer",
            "description": "Total fatalities with confirmed OR probable COVID-19 case diagnosis (per the expanded [CSTE case definition](https://cdn.ymaws.com/www.cste.org/resource/resmgr/2020ps/Interim-20-ID-01_COVID-19.pdf) of April 5th, 2020 [approved by the CDC](https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/)). In states where the information is available, it only tracks fatalities with confirmed OR probable COVID-19 case diagnosis where COVID-19 is an underlying cause of death according to the death certificate based on [WHO guidelines](https://www.who.int/classifications/icd/Guidelines_Cause_of_Death_COVID-19.pdf?ua=1).",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Deaths"
          },
          "deathIncrease": {
            "type": "integer",
            "description": "Daily difference in death",
            "nullable": true,
            "example": "",
            "x-sheetColumn": "Deaths",
            "x-internalNote": "Increase in *death* computed by subtracting the value of *death* for the previous day from the value of *death* for the current day."
          },
          "hospitalized": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "Old label for `hospitalizedCumulative`."
          },
          "hospitalizedIncrease": {
            "type": "integer",
            "description": "Daily difference in hospitalized",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "Increase in *hospitalized* computed by subtracting the value of *hospitalizedCumulative* for the previous day from the value of *hospitalizedCumulative* for the current day."
          },
          "dateChecked": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "This is an old label for \"Last Update ET\".",
            "x-sheetColumn": "Last Update ET"
          },
          "hash": {
            "type": "string",
            "description": "Deprecated - A hash of the current record.",
            "nullable": true,
            "example": "",
            "x-deprecated": true,
            "x-internalNote": "A hash we provide for consumers so they can invalidate their cache if the values of this row has changed."
          },
          "commercialScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "negativeRegularScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "negativeScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "positiveScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "score": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "grade": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": "",
            "x-deprecated": true
          },
          "totalTestsViral": {
            "type": "integer",
[...]
