{
  "openapi": "3.0.0",
  "info": {
    "title": "COVID Tracking Project API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.covidtracking.com"
    }
  ],
  "paths": {
    "/v1/states/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "State metadata",
        "description": "Basic information about states, including notes about our methodology and the websites we use to check for data.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/v1/states/{state}/info.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Metadata about a specific state",
        "description": "Metadata about a specific state",
        "x-public-source-url": false,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatesInfo"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the two-letter state code to select the current value for a single state."
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "StatesInfo": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "The state postal code",
            "nullable": false,
            "example": "CA"
          },
          "name": {
            "type": "string",
            "description": "The name of the state",
            "nullable": false,
            "example": "California"
          },
          "fips": {
            "type": "string",
            "description": "The census FIPS code",
            "nullable": false,
            "example": "09"
          },
          "notes": {
            "type": "string",
            "description": "Notes about the state",
            "nullable": true,
            "example": "This state reports data correctly."
          },
          "covid19Site": {
            "type": "string",
            "description": "URL to the state's COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covid19SiteSecondary": {
            "type": "string",
            "description": "URL to the state's secondary COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covid19SiteTertiary": {
            "type": "string",
            "description": "URL to the state's tertiary COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "twitter": {
            "type": "string",
            "description": "The state's COVID-related Twitter handle",
            "nullable": true,
            "example": "@Alaska_DHSS"
          },
          "covid19SiteOld": {
            "type": "string",
            "description": "URL to the state's old COVID website",
            "nullable": true,
            "example": "http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.asp"
          },
          "covidTrackingProjectPreferredTotalTestUnits": {
            "type": "string",
            "description": "Preferred units to use for total test results.",
            "nullable": true,
            "example": ""
          },
          "covidTrackingProjectPreferredTotalTestField": {
            "type": "string",
            "description": "Preferred field to use for total test results.",
            "nullable": true,
            "example": ""
          },
          "totalTestResultsField": {
            "type": "string",
            "description": "Source field for total test results.",
            "nullable": true,
            "example": ""
          },
          "pui": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "pum": {
            "type": "boolean",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          }
        }
      }
    }
  }
}
